attrs==20.2.0
autobahn==20.12.3
Automat==20.2.0
binance==0.3
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
constantly==15.1.0
cryptography==41.0.2
dateparser==0.7.6
decorator==4.4.2
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
multimethods==1.0.0
multipledispatch==0.6.0
numpy==1.19.2
pudb==2019.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycurl==7.43.0.6
Pygments==2.15.0
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
python-binance==0.7.5
python-dateutil==2.8.1
python-telegram-bot==12.8
pytz==2020.1
regex==2020.7.14
requests==2.31.0
service-identity==18.1.0
six==1.15.0
sty==1.0.0b12
telegram==0.0.1
tornado==6.3.2
Twisted==20.3.0
txaio==20.4.1
tzlocal==2.1
urllib3==1.25.11
urwid==2.1.1
zope.interface==5.1.0
