{
  "up-down-percent": 1,
  "betting-krw": 900000,
  "cool-time-seconds": 900,
  "timeout-hours": 24,
  "btc-lock-percent": 70,
  "btc-lock-abs-amount": 0.2,
  "btc-lock-pending-check": "yes"
  "btc-box-check": "no",
  "btc-box-min-krw": 36000000,
  "btc-box-max-krw": 39000000,
  "log-file-name": "updown.log",
  "max-krw-for-btc-coin": "1000000",
  "redis-host": "127.0.0.1",
  "redis-port": "6379"
}
