{
  "up_down_percent": 1,
  "betting_in_krw": 900000,
  "cool_time_in_seconds": 900,
  "timeout_in_hours": 24,
  "btc_lock_percent": 70,
  "btc_lock_abs_amount": 0.2,
  "btc_lock_pending_check": "yes"
}
